.address {
  background: var(--clr-almost-black);
  color: var(--clr-white);

  &-wrapper {
    width: min(90%, 1110px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 104px;
    padding-bottom: 128px;
  }

  &-title {
    max-width: 350px;
  }

  &-column {
    max-width: 540px;
  }

  &-street {
    color: var(--clr-gold);
    margin-bottom: 24px;
  }

  &-address {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 960px) {
  .address {
    &-wrapper {
      padding-top: 88px;
      padding-bottom: 80px;
    }

    &-title {
      font-size: 55px;
      max-width: 250px;
    }

    &-column {
      max-width: 398px;
    }

    &-street {
      font-size: 32px;
    }
  }
}

@media screen and (max-width: 670px) {
  .address-wrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 425px) {
  .address {
    &-wrapper {
      flex-direction: column;
      padding-top: 48px;
      padding-bottom: 56px;
    }

    &-title {
      font-size: 50px;
      max-width: 400px;
      margin-bottom: 48px;
    }

    &-street {
      margin-bottom: 20px;
    }

    &-address {
      margin-bottom: 20px;
    }

    &-instructions {
      max-width: 343px;
    }
  }
}
